body {
    margin-left: auto;
    margin-right: auto;
}


.v{
    text-align: right;
}
.s{
    text-align: left;
}
.player-side {
    left:250px
}

#gohan-attack {
    display: none;
}





.restart {
    display:none;
}

.jumbotron {
    text-align: center;
    background-color: #49bbd9;
}

.health {
    display: none;
}



